<div ng-include="'components/navbar/navbar.html'"></div>

<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
-->

<div class="photo-container">
    <div class="slide" ng-repeat="photo in awesomeThings">
      <div class="photo-frame" style="left: {{photo.left}}px; top: {{photo.top}}px;">
        <a class="photo-link" href="#" style="background-image: url('{{photo.imageUrl}}'); width: {{photo.width}}px; height: {{photo.height}}px;"></a>
      </div>
      <div class="title-frame" style="top: {{photo.textTop}}px;">
        {{photo.title}}
      </div>
    </div>
      <!--
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><img src="{{thing.imageUrl}}" alt="{{thing.title}}"/></li>
      </ul>
      -->
</div>

<!--
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
-->
