.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.slide {
  position: relative;
  float: left;
  width: 350px;
  height: 350px;
}

.photo-frame {
  position: absolute;
  display: block;
  left: 50px;
  top: 90px;
}

.photo-link {
  display: block;
  border: 5px solid white;
}

.title-frame {
  position: absolute;
  text-align: center;
  width: 100%;
  overflow: hidden;
  max-height: 80px;
  color: lightgrey;
}

.photo-container {
  margin-left: 5%;
  width: 95%;
}

html {
  background-color: #222222;
}

body {
  font-family: Trebuchet MS,sans-serif;
  letter-spacing: .1em;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: #c4c4c4;
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #c4c4c4;
}

a:hover {
  color: white;
}
